html,
body {
  background-color: #ffffff;
}

.seccion-fondo {
  background-image: url(/img/images/madera1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 7.5rem; /* Altura en escritorio */
  z-index: 1050;
}

/* Contenedor del logo */
.fig-img {
  width: 100%;
  max-width: 18rem;
}

.img-logo {
  width: 60%;
  border: 1px solid #000;
}
/* HERO SECTION */
.hero-img {
  width: 100%;
  height: 200px; /* ajusta a tu gusto */
  object-fit: cover;
  display: block; /* elimina espacios fantasmas */
}

.hero-slider {
  position: relative;
  height: 130px; /* altura de una fila */
}

.slide {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.6s ease;
}

.slide.active {
  top: 0;
  opacity: 1;
}

.slide.exit {
  top: -100%;
  opacity: 0;
}

.img-fluid {
  width: 7.9rem;
  height: 8.1rem;
}

.img-hero1 {
  height: 18rem;
}

.hero-img {
  width: auto;
  height: 18rem;
  object-fit: cover;
}

.Qsomos {
  width: 95%;
  height: 30rem;
}

.section-1 {
  border-bottom: 3px solid #488e48;
}

.items-icon {
  position: relative;
  width: 100%;
  gap: 3rem;
  min-height: 97vh;
  background-image: url(/img/images/sierra.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.items-icon::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7); /* oscuridad */
}

/* contenido encima */
.items-icon .content {
  position: relative;
  z-index: 1;
  margin-bottom: 1.5rem;
}

.icon-service {
  color: #ffc107; /* amarillo */
  font-size: 3.7rem;
}

.containers {
  min-height: 27vh;
}

/* SERVICIO 1 */
.link-container {
  width: 94%;
  height: 16rem;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* overlay oscuro */
.link-container::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background: rgba(0,0,0,0.1); */
  border-radius: 12px;
}

/* texto encima */
.link-container h4 {
  position: relative;
  z-index: 1;
}

.servicio-1 {
  background-image: url(/img/images/hero_1.jpg);
}
.servicio-2 {
  background-image: url(/img/images/hero_2.jpg);
}
.servicio-3 {
  background-image: url(/img/images/hero_3.jpg);
}
.servicio-4 {
  background-image: url(/img/images/hero_4.jpg);
}
.servicio-5 {
  background-image: url(/img/images/hero_5.jpg);
}
.servicio-6 {
  background-image: url(/img/images/hero_6.jpg);
}

/* CONTACTENOS */
.subtitle {
  font-size: 1.3rem;
}

.section-title {
  color: #4f8f4e;
  font-weight: 600;
  font-size: 1.3rem;
}

.divider {
  width: 10rem;
  height: 2px;
  background: #000;
  margin: 1rem auto;
}

.call-box {
  background: #bfb39a;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.call-icon {
  background: #1fc57c;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
}

.form-control {
  border-radius: 0;
}

.btn-send {
  background: #478C46;
  color: white;
  border-radius: 25px;
  padding: 0.6rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.direction-text{
  font-size: 1.2rem;
}

small{
  font-size: 1.3rem;
}

iframe, .frame-map {
  width: 100%;
  height: 24rem;
}