html,
body {
  font-family: sans-serif;
  background-color: #ffffff;
}

/* HEADER */
.seccion-fondo {
  background-image: url(../img/general/header_fondo.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 7.5rem;
  padding-top: 0.5rem;
  z-index: 1050;
  border-bottom: #000 1px solid;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.fig-img {
  width: 100%;
  max-width: 12rem;
}

.img-logo {
  width: 6.6rem;
  display: block;
  margin: 0 auto;
  border: 1px solid #000;
}

/* HERO SECTION */
.hero {
  padding-top: 8rem;
}

.hero {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.img-fluid {
  width: 100%;
  height: 9.5rem;
  object-fit: cover;
  display: block;
}

.img-hero1 {
  max-height: 18rem;
}

.hero-img {
  width: 97%;
  height: 18rem;
  object-fit: cover;
  display: block;
}

/* QUIENES SOMOS */
.Qsomos {
  width: 95%;
  height: 30rem;
}

#quienes-somos {
  scroll-margin-top: 95px;
}

.section-1 {
  border-bottom: 3px solid #488e48;
}

.items-icon {
  position: relative;
  width: 100%;
  gap: 3rem;
  min-height: 97vh;
  background-image: url(../img/general/sierra.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.items-icon::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
}

/* contenido encima */
.items-icon .content {
  position: relative;
  z-index: 1;
  margin-bottom: 1.5rem;
}

.icon-service {
  color: #ffc107;
  font-size: 3.7rem;
}

.containers {
  min-height: 27vh;
}

/* SERVICIO 1 */
.link-container {
  width: 94%;
  height: 16rem;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* overlay oscuro */
.link-container::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 12px;
}

/* texto encima */
.link-container h4 {
  position: relative;
  z-index: 1;
}

/* SERVICIOS DE MUEBLERIA IMAGENES DE PORTADA */
.servicio-1m {
  background-image: url(../img/muebleria/cocina_integral/img4.webp);
}
.servicio-2m {
  background-image: url(../img/muebleria/closets/img12.webp);
}
.servicio-3m {
  background-image: url(../img/muebleria/mobiliario_para_oficinas/img2.webp);
}
.servicio-4m {
  background-image: url(../img/muebleria/muebles_comercial/img9.webp);
}
.servicio-5m {
  background-image: url(../img/muebleria/centro_entretenimiento/img7.webp);
}
.servicio-6m {
  background-image: url(../img/muebleria/recepciones/img5.webp);
}
.servicio-7m {
  background-image: url(../img/muebleria/mesa_reunion/img1.jpeg);
}

/*SERVICIOS DE CIELO RASO IMAGENES DE PORTADA */
.servicio-1c {
  background-image: url(../img/cieloRaso/cielo_raso/img14.jpeg);
}
.servicio-2c {
  background-image: url(../img/cieloRaso/divisiones/img7.jpeg);
}
.servicio-3c {
  background-image: url(../img/cieloRaso/escenario/img2.jpeg);
}
.servicio-4c {
  background-image: url(../img/cieloRaso/diseñoPintura/img4.jpeg);
}
.servicio-5c {
  background-image: url(../img/cieloRaso/decoracionInterior/img1.jpeg);
}
.servicio-6c {
  background-image: url(../img/cieloRaso/centroEntretenimiento/img4.jpeg);
}

/* CONTACTENOS */
.subtitle {
  font-size: 1.3rem;
}

.section-title {
  color: #4f8f4e;
  font-weight: 600;
  font-size: 1.3rem;
}

.divider {
  width: 10rem;
  height: 2px;
  background: #000;
  margin: 1rem auto;
}

.call-box {
  background: #bfb39a;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.call-icon {
  background: #1fc57c;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
}

.form-control {
  border-radius: 0;
}

.btn-send {
  background: #478c46;
  color: white;
  border-radius: 25px;
  padding: 0.6rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.direction-text {
  font-size: 1.2rem;
}

small {
  font-size: 1.3rem;
}

iframe,
.frame-map {
  width: 100%;
  height: 24rem;
}

.offcanvas {
  z-index: 1060 !important;
}

/* ARCHIVO CONTACTENOS */
.contacto {
  height: 16rem;
  background-image: url("../img/general/img-contactenos.webp");
  background-size: cover;
  background-position: center;
  margin-top: 7.5rem;
}

/* Overlay de transparencia */
.contacto::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Texto por encima del overlay */
.contacto h2 {
  z-index: 2;
}

/* TITULO DE LOS SERVICwebp */
.service-main {
  height: 7.1rem;
  margin-top: 7.5rem;
  background-size: cover;
  background-position: center;
  background-color: #ffc107;
}

.service-main h2 {
  position: relative;
  z-index: 2;
}

.font-sc {
  font-size: 2.2rem;
  color: black;
}

.galeria img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

/* IMAGEN MODAL */
.modal-fondo {
  background: rgba(0, 0, 0, 0.85);
}

/* Imagen */
#imagenModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
  touch-action: none;
  transition: transform 0.25s ease;
}

/* Indicador */
.contador {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 14px;
  z-index: 10;
}

/* Botón cerrar */
.btn-cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  z-index: 10;
}

/* Flechas */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: white;
  background: none;
  border: none;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-body:active .nav {
  opacity: 1;
}

.prev {
  left: 10px;
}
.next {
  right: 10px;
}

/* Bloqueo scroll */
.no-scroll {
  overflow: hidden;
  height: 100vh;
}

footer {
  background-color: #4c4c4c;
}

.video-card {
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 8px 22px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
}

/* info debajo del video */
.video-info {
  padding: 0.6rem;
  text-align: center;
}

.video-title {
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
  line-height: 1.2;
}

/* botón más agradable */
.video-info .btn {
  border-radius: 999px;
  font-size: 0.75rem;
  padding: 0.35rem 0;
}


/* VISTA TABLET */
@media (min-width: 768px) {
  

  /* TITULO DE LOS SERVICwebp */
  .service-main {
    height: 7.1rem;
    margin-top: 7.5rem;
    background-size: cover;
    background-position: center;
    background-color: #ffc107;
  }

  /* IMAGENES DE CADA SERVICIO */
  .img-galeria {
    aspect-ratio: 4 / 3;
  }

  .servicios-mobil-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .servicios-mobil-container a {
    display: block;
  }

  .servicios-mobil-container .link-container {
    margin-top: 2rem !important;
    height: 260px;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* ===== TABLET / 750px: 2 columnas ===== */
@media (min-width: 600px) and (max-width: 767px) {
  .servicios-mobil-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
  }

  .servicios-mobil-container a {
    display: block;
  }

  .servicios-mobil-container .link-container {
    height: 300px;       /* altura aumentada */
    margin-top: 2rem !important;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
    display: flex;
    align-items: center;  /* centrado vertical */
    justify-content: center; /* centrado horizontal */
  }

   .galeria img {
    height: 260px;       /* ajusta la altura que quieras */
    object-fit: cover;   /* rellena sin deformar */
    width: 100%;         /* mantiene ancho responsive */
  }
}

/* VISTA DESKTOP */
@media (min-width: 992px) {
  .hero {
    padding-top: 8rem;
  }

  .hero-thumb {
    height: 16rem;
  }

  .img-hero1 {
    margin-left: 55rem;
    width: auto;
  }

  .hero-img {
    margin-top: 1rem;
  }

  .Qsomos {
    margin-top: -18rem;
  }

  .section-2 {
    width: 45rem;
  }

  .section-1 {
    border-bottom: 2px solid #000;
    width: 45rem;
  }

  .items-icon {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .servicios-mobil-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .servicios-mobil-container a {
    display: block;
    
  }

  /* Ajuste de márgenes solo en desktop */
  .servicios-mobil-container .link-container {
    height: 260px;
    margin-top: 2rem !important;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1rem;
  }

  .servicios-mobil-container .link-container h4 {
    font-size: 1.3rem;  /* ajusta aquí el tamaño que quieras */
  }

  .galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  /* Neutralizamos columnas de Bootstrap solo en desktop */
  .galeria > div {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

   .galeria img {
    height: 260px;          /* ajusta aquí si quieres más o menos */
    object-fit: cover;      /* rellena sin deformar */
  }

  .contacto-form {
    max-width: 600px;      /* ancho fijo para desktop */
    margin: 0 auto;        /* centrado horizontal */
  }

  .informacion-contacto{
    text-align: center;
  }
}
