html,
body {
  font-family: sans-serif;
  background-color: #ffffff;
}

.seccion-fondo {
  background-image: url(../img/general/madera1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 7.5rem; /* altura móvil */
  padding-top: 0.5rem;
  z-index: 1050;
}

.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/* Logo */
.fig-img {
  width: 100%;
  max-width: 12rem;
}

.img-logo {
  width: 60%;
  display: block;
  margin: 0 auto;
  border: 1px solid #000;
}


/* HERO SECTION */
.hero {
  padding-top: 8rem; /* si tu header es fijo */
}

.hero{
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.img-fluid{
  width: 100%;
  height: 9.5rem;
  object-fit: cover;
  display: block;
}

.img-hero1{
  max-height: 18rem; /* limita altura si quieres */
  
}

.hero-img {
  width: 97%;
  height: 18rem; /* altura fija para hero principal */
  object-fit: cover;
  display: block;
}


.Qsomos {
  width: 95%;
  height: 30rem;
}

#quienes-somos {
  scroll-margin-top: 95px;
}


.section-1 {
  border-bottom: 3px solid #488e48;
}

.items-icon {
  position: relative;
  width: 100%;
  gap: 3rem;
  min-height: 97vh;
  background-image: url(../img/general/sierra.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.items-icon::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7); /* oscuridad */
}

/* contenido encima */
.items-icon .content {
  position: relative;
  z-index: 1;
  margin-bottom: 1.5rem;
}

.icon-service {
  color: #ffc107; /* amarillo */
  font-size: 3.7rem;
}

.containers {
  min-height: 27vh;
}

/* SERVICIO 1 */
.link-container {
  width: 94%;
  height: 16rem;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* overlay oscuro */
.link-container::before {
  content: "";
  position: absolute;
  inset: 0;
  /* background: rgba(0,0,0,0.1); */
  border-radius: 12px;
}

/* texto encima */
.link-container h4 {
  position: relative;
  z-index: 1;
}

/* SERVICIOS DE MUEBLERIA IMAGENES DE PORTADA */
.servicio-1m {
  background-image: url(../img/muebleria/cocina_integral/img4.jpg);
}
.servicio-2m {
  background-image: url(../img/muebleria/closets/img12.jpg);
}
.servicio-3m {
  background-image: url(../img/muebleria/mobiliario_para_oficinas/img2.jpg);
}
.servicio-4m {
  background-image: url(../img/muebleria/muebles_comercial/img9.jpg);
}
.servicio-5m {
  background-image: url(../img/muebleria/centro_entretenimiento/img7.jpg);
}
.servicio-6m {
  background-image: url(../img/muebleria/recepciones/img5.jpg);
}
.servicio-7m {
  background-image: url(../img/muebleria/mesa_reunion/img1.jpeg);
}

/*SERVICIOS DE CIELO RASO IMAGENES DE PORTADA */
.servicio-1c {
  background-image: url(../img/general/hero_1.jpg);
}
.servicio-2c {
  background-image: url(../img/general/hero_2.jpg);
}
.servicio-3c {
  background-image: url(../img/general/hero_3.jpg);
}
.servicio-4c {
  background-image: url(../img/general/hero_4.jpg);
}
.servicio-5c {
  background-image: url(../img/general/hero_5.jpg);
}
.servicio-6c {
  background-image: url(../img/general/hero_6.jpg);
}
.servicio-7c {
  background-image: url(../img/general/img_8.jpg);
}

/* CONTACTENOS */

.subtitle {
  font-size: 1.3rem;
}

.section-title {
  color: #4f8f4e;
  font-weight: 600;
  font-size: 1.3rem;
}

.divider {
  width: 10rem;
  height: 2px;
  background: #000;
  margin: 1rem auto;
}

.call-box {
  background: #bfb39a;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.call-icon {
  background: #1fc57c;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.5rem;
}

.form-control {
  border-radius: 0;
}

.btn-send {
  background: #478C46;
  color: white;
  border-radius: 25px;
  padding: 0.6rem;
  font-weight: 600;
  font-size: 1.5rem;
}

.direction-text{
  font-size: 1.2rem;
}

small{
  font-size: 1.3rem;
}

iframe, .frame-map {
  width: 100%;
  height: 24rem;
}

/* Asegura que el offcanvas quede encima del header */
.offcanvas {
  z-index: 1060 !important; /* mayor que el header */
}

/* ARCHIVO CONTACTENOS */
.contacto{
    height: 16rem; /* ajusta según tu diseño */
    background-image: url("../img/general/img-contactenos.jpg");
    background-size: cover;
    background-position: center;
    margin-top: 7.5rem;
}

/* Overlay de transparencia */
.contacto::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5); /* transparencia */
    z-index: 1;
}

/* Texto por encima del overlay */
.contacto h2 {
    z-index: 2;
}

/* TITULO DE LOS SERVICIOS */

.service-main {
  height: 7.1rem;
  margin-top: 7.5rem;
  background-size: cover;
  background-position: center;
   background-color: #ffc107;
} 

.service-main h2 {
  position: relative;
  z-index: 2; /* Para que el texto quede arriba del overlay */
}

.font-sc{
  font-size: 2.2rem;
  color: black;
}

.galeria img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

/* IMAGEN MODAL */
/* Fondo semitransparente */
.modal-fondo {
  background: rgba(0,0,0,0.85);
}

/* Imagen */
#imagenModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  max-width: 100vw;
  max-height: 100vh;
  object-fit: contain;
  touch-action: none;
  transition: transform 0.25s ease;
}


/* Indicador */
.contador {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 14px;
  z-index: 10;
}

/* Botón cerrar */
.btn-cerrar {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  z-index: 10;
}

/* Flechas */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: white;
  background: none;
  border: none;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.modal-body:active .nav {
  opacity: 1;
}

.prev { left: 10px; }
.next { right: 10px; }

/* Bloqueo scroll */
.no-scroll {
  overflow: hidden;
  height: 100vh;
}

footer{
  background-color: #4C4C4C;
}